<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hepengbo.mapper.FilmMapper">
	
	<resultMap type="Film" id="fMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="introduce" column="introduce"/>
		<result property="direct" column="direct"/>
		<result property="time" column="time"/>
		<collection property="cla" ofType="Classify">
			<id property="cid" column="cid"/>
			<result property="cname" column="cname"/>
		</collection>
	</resultMap>
	
	<select id="getlist" resultMap="fMap">
		select f.*,group_concat(c.`cname`) as cname from t_film f left join t_film_class t on f.`id`=t.`fid` left join t_classify c on c.`cid`=t.`cid` group by f.`id` 
		<where>
			<if test="key!=null and key!=''">
				and f.name like concat('%',#{key},'%')
			</if>
		</where>
	</select>
	
	<insert id="addFilm" parameterType="Film" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into t_film(name,introduce,direct,time)
		values(#{name},#{introduce},#{direct},#{time})
	</insert>
	
	<insert id="addTFC">
		insert into t_film_class(fid,cid) values(#{fid},#{cid})
	</insert>
	
	<select id="clist" resultType="Classify">
		select * from t_classify
	</select>
	
	<delete id="delete" parameterType="Film">
		delete from t_film where id in 
		<foreach collection="list" open="(" close=")" separator="," item="ids">
			${ids}
		</foreach>
	</delete>
	
	<delete id="deleteTFC">
		delete from t_film_class where fid in
		<foreach collection="list" open="(" close=")" separator="," item="ids">
			${ids}
		</foreach>
	</delete>
	
	<insert id="adduser" parameterType="User">
		insert into t_user(id,phone,email,nickname,age)
		values(#{id},#{phone},#{email},#{nickname},#{age})
	</insert>
	
</mapper>